.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 15px;
}

.files-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 10px;
}